.control-icon.torch i.fa-slash {
    position: absolute;
    color: tomato;
}
.control-icon.torch + .light-source-menu {
    padding: 2px 2px 4px;
    width: 30px;
}

.control-icon.torch + .light-source-menu .light-source-menu-item {
    border: 1px solid var(--color-border-light-primary); 
    padding: 0;
    margin: 0;
}

.control-icon.torch + .light-source-menu button.light-source-menu-item img {
    margin: 0;
}
.control-icon.torch + .light-source-menu .light-source-menu-item.active {
    border-color: tomato;
}
.control-icon.torch + .light-source-menu .light-source-menu-item.exhausted {
    opacity: 0.3;
}